.ContainLoad {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.Logo {
    width: 150px;
    object-fit: cover;
    animation: 750ms infinite alternate LogoAnimation;
}

@keyframes LogoAnimation {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0.3;
        transform: scale(0.9);
    }
}