.Copyright{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
    direction: ltr !important;
}
.Copyright p{
    margin: 0;
}
.Copyright a{
margin-inline-start:5px ;
display: flex;
align-items: center;
 
justify-content: center;
}